server:
    address: "[::]:8080"
    blocklist:
      - 1.2.3.4

    feedback:
      enabled: true
      timeout: 30
      email:
        smtp: SERVER:PORT
        from: ADDRESS
        to: ADDRESS
        subject: User feedback from try-it

    limits:
      total: 64
      ip: 2

    maintenance:
      enabled: false
      message: Custom downtime message

    statistics:
      keys:
        - 69280011-c8a5-4ef9-ae3d-e7caf4d06e06

    terms: |-
      By using the Incus demonstration server, you agree that:<br />
      <ul>
        <li>Access to this service may be revoked at any time for any reason</li>
        <li>Access to this service is solely provided to evaluate Incus</li>
        <li>Your IP address, access time and activity on the test server may be recorded</li>
        <li>Any abuse of this service may lead to a ban or other applicable actions</li>
      </ul>

incus:
  client:
    certificate: |-
      PEM

    key: |-
      PEM
  project: PROJECT
  server:
    url: URL
    certificate: |-
      PEM
  target: some-server

instance:
  source:
#    instance: "try-it"
    image: "ubuntu/22.04"
    type: "virtual-machine"

  profiles:
    - default

  limits:
    cpu: 2
    disk: 50GiB
    processes: 2000
    memory: 4GiB

session:
  command: ["bash"]
  expiry: 3000
  console_only: true
  network: ipv6
